<% provide(:title, 'Research') %>
<div class="row">
	<div class="span8">
		<div class="biblio">
			<h3>Key Publications: Group Dynamics, Affect, Diversity</h3>
			<ul>

				<li>Knight, A. P. (Provisionally Accepted). Mood at the midpoint: Affect and change in exploratory search over time in teams that face a deadline. Organization Science. <%= link_to 'not yet available', '/resource/knight2013mat.pdf', class: "pub-disabled"  %> 		

				<li>Shteynberg, G., Hirsh, J. B., Galinsky, A. D., & Knight, A. P. (2013). Shared attention increases mood infusion. Journal of Experimental Psychology: General. <%= link_to 'pdf', '/resource/shteynberg2013sai.pdf', class: "pub" %>				
			
				<li>Barsade, S. G., & Knight, A. P. (2013). Group affect. In H. Weiss (Ed.), The Oxford Handbook of Work Attitudes and Affect (p. ####–####). Oxford, UK: Oxford University Press. <%= link_to 'not yet available', '/resource/barsade2013ga.pdf', class: "pub-disabled" %>	
		
				<li>Klein, K. J., Knight, A. P., Ziegert, J. C., Lim, B. C., & Saltz, J. L. (2011). When team members’ values differ: The moderating role of team leadership. Organizational Behavior and Human Decision Processes, 114(1), 25–36. <%= link_to 'pdf', '/resource/klein2011wtm.pdf', class: "pub"  %>
		
				<li>Shteynberg, G., Leslie, L. M., Knight, A. P., & Mayer, D. M. (2011). But affirmative action hurts us! Race-related beliefs shape perceptions of White disadvantage and policy unfairness. Organizational Behavior and Human Decision Processes, 115, 1-12. <%= link_to 'pdf', '/resource/shteynberg2011baa.pdf', class: "pub"  %>
				
				<li>Klein, K. J., Ziegert, J. C., Knight, A. P., & Xiao, Y. (2006). Dynamic delegation: Shared, hierarchical, and deindividualized leadership in extreme action teams. Administrative Science Quarterly, 51, 590–621. <%= link_to 'pdf', '/resource/klein2006dds.pdf', class: "pub" %>
				
				<li>Klein, K. J., & Knight, A. P. (2005). Innovation implementation: Overcoming the challenge. Current Directions in Psychological Science, 14, 243-246. <%= link_to 'pdf', '/resource/klein2005iio.pdf', class: "pub"  %>
			</ul>
				
			
			<h3>Other Publications: Patient Safety, Culture</h3>	
			<ul>		
				<li>Leonard, M. W., Frankel, A. S., & Knight, A. P. (2012). What facilitates or hinders team effectiveness in organizations. In E. Salas and K. Frush (Eds.), Improving patient safety through teamwork and team training (p. ###-###). New York, NY: Oxford University Press. <%= link_to 'not yet available', '/resource/leonard2013wfo.pdf', class: "pub-disabled" %>				
				
				<li>Sernick, T. H., & Knight, A. P. (2010). An integrated and forward-looking approach to risk management in healthcare. The Risk Management Quarterly, Spring, 7-11. <%= link_to 'not yet available', '/resource/sernickaia.pdf', class: "pub-disabled" %>			
				
				<li>Frankel, A. S., & Knight, A. P. (2009). Using direct observation and feedback to monitor team performance. In A. S. Frankel, M. W. Leonard, T. Simmonds, C. Haraden, and K. B. Vega (Eds.), The essential guide for patient safety officers (pp. 61-68). Boston, MA: Joint Commission on Accreditation of Healthcare Organizations. <%= link_to 'not yet available', '/resource/frankel2009udo.pdf', class: "pub-disabled"  %>		
				
				<li>Nundy, A., Mukherjee, A., Sexton, J. B., Pronovost, P. J., Knight, A. P., Rowen, L., Duncan, M., Syin, D., & Makary, M. (2008). Impact of preoperative briefings on operating room delays: A preliminary report. Archives of Surgery, 143, 1068-1072. <%= link_to 'pdf', '/resource/nundy2008iop.pdf', class: "pub"  %>
				
				<li>Knight, A.P. (2007). McDonaldization. In L. Alexandre, G. Fry, Y. Kamalipour, A. Kislenko, E. Langer, D. Makarov, B. O’Connor, W. Okumu, & M. Rockland (Eds.), Exploring global perspectives on the United States (pp. 214-216). Massachusetts: Congressional Quarterly Press. <%= link_to 'not yet available', '/resource/knight2007m.pdf', class: "pub-disabled"  %>
		
				<li>Knight, A.P., & Imai, L. (2007). Equality. In L. Alexandre, G. Fry, Y. Kamalipour, A. Kislenko, E. Langer, D. Makarov, B. O’Connor, W. Okumu, & M. Rockland (Eds.), Exploring global perspectives on the United States (pp. 106-109). Massachusetts: Congressional Quarterly Press. <%= link_to 'not yet available', '/resource/knight2007e.pdf', class: "pub-disabled"  %>		
				
				<li>Sexton, J. B., Makary, M., Tersigni, A., Pryor, D., Hendrich, A., Thomas, E., Holzmueller, C., Knight, A. P., Wu, Y., & Pronovost, P. (2006). Teamwork in the operating room: Frontline perspectives among hospital and operating room personnel. Anesthesiology, 105, 877-884. <%= link_to 'pdf', '/resource/sexton2006tit.pdf', class: "pub"  %>
		
				<li>Sexton, J. B., Holzmueller, C., Pronovost, P. J., Thomas, E., McFerran, S., Nunes, J., Thompson, D., Knight, A. P., Penning, D., & Fox, H. (2006). Variation in caregiver perceptions of teamwork climate in labor and delivery units. Journal of Perinatology, 26, 463-470. <%= link_to 'pdf', '/resource/sexton2006vic.pdf', class: "pub"  %>
				
				<li>Gelfand, M.J., & Knight, A.P. (2005). Cross-cultural perspectives on work-family conflict.  In S. Poelmans (Ed.), Work and family: An international research perspective (pp. 401-414). Mahwah, New Jersey: Lawrence Erlbaum Associates. <%= link_to 'pdf', '/resource/gelfand2005ccp.pdf', class: "pub"  %>
		
				<li>Knight, A.P., Shteynberg, G., & Hanges, P.J. (2004). Path-goal analysis. In J.M. Burns, G. R. Goethals, & G. J. Sorenson (Eds.), Encyclopedia of leadership. Massachusetts: Sage Reference. <%= link_to 'not yet available', '/resource/knight2004pga.pdf', class: "pub-disabled"  %>  		
			</ul>
		</div>
	</div>
	<div class="span4">
		<img width="300" src="/assets/electricity_man_cropped.jpg">	
	</div>
</div>
