<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to image_tag("/assets/wustllogo.jpg", class: "logo"), "http://www.wustl.edu", id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Home",    root_path %></li>
					<li><%= link_to "Research",    research_path  %></li>
					<li><%= link_to "Teaching",    teaching_path  %></li>					
					<li><%= link_to "Community",    community_path  %></li>										
					<li><%= link_to "Resources", resources_path %></li>
					<li><%= link_to "Code", code_path %></li>					
				</ul>
			</nav>
		</div>
	</div>
</header>
